<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>MoboClass</title>
</head>
<body>


    <div class="div1"></div>
    <div class="container">
        <div class="xtra"></div>
        <div class="box">
            <a href="class.html">CLASSROOM</a></li>
        </div>

        <div class="box">
            <a href="profile.html">PROFILE</a></li>
        </div>

        <div class="box">
            <a href="#">LOG OUT</a></li>
        </div>
        <div class="xtra"></div>
    </div>
    <div class="div2"></div>

    <!--<div class="div1"></div>
    <div class="div2"></div>
    <div class="div3"></div>-->

</body>
</html>

